img {
  padding: 1rem;
}

span {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttons-container {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  button {
    background-color: var(--color-primary-bg);
    width: 80px;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 30px;
}

select {
  max-width: 100px;
  height: 28px;

  &:hover {
    cursor: pointer;
  }
}

.list-container {
  width: 100%;
  display: grid;
  padding-top: .5rem;
  padding-bottom: .5rem;
  grid-template-columns: repeat(5, 1fr);
}

.red-bg {
  background-color: var(--color-red-action);
}

.status-image {
  padding: 0;
  position: relative;

  img {
    padding: 0;
  }

  .status {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
}