.member-selection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.is-assigned {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.no-member {
  
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--nav-color-primary);
  font-size: larger;
}