li {
  list-style: none;
  max-width: 100%;
  text-align: left;
  display: flex;
  padding: .5rem;
  border-radius: 5px;
  gap: 1rem;
  align-items: center;

  &:hover {
    background-color: var(--color-primary-bg);
  }

  p {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
  }

  span {
    display: flex;
    gap: .5rem;

    button {
      display: flex;
      height: 45px;
      width: 60px;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 5px;
      background-color: var(--color-secondary-bg);

      &:disabled:hover {
        border-color: transparent;
        cursor: default;
        background-color: var(--color-secondary-bg);
      }

      &:hover {
        background-color: var(--color-primary-bg);
      }

      img {
        width: 25px;        
      }
    }
  }
}

@media (max-width: 1100px) {
  li {

    span {

      button {
        padding: 0;
        padding: auto;
        display: flex;
        justify-content: center;
        background-color: var(--color-primary-bg);
        height: 40px;
        width: 50px;

        img {
          width: 15px;
          padding: 0;
        }
      }
    }
  }
}

.edit-input {
  width: 100%;
}
