.ul-container {
  padding: 1rem;
  ul {
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .4rem;
    list-style: none;

    li {
      display: flex;
      padding: 1rem;
      border-radius: 9px;
      background-color: var(--color-secondary-bg);
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      &:hover {
        background-color: var(--color-primary);
      }

      img {
        padding: 1rem;
      }

      span {
        width: 100%;
        gap: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      .buttons-container {
        max-width: 100px;
      }
    }
  }
}

button {
  background-color: white;
  color: black;
}

select {
  max-width: 100px;
  height: 28px;
  &:hover {
    cursor: pointer;
  }
}