form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span.d-flex.g-1 {
    // Styling for form rows
    display: flex;
    gap: 10px;
    align-items: center; // Align items in the row
  }

  label {
    margin-bottom: 0; // Reset margin-bottom
    min-width: 80px; // Give labels a consistent width
  }

  input[type="text"],
  input[type="number"],
  select {
    flex-grow: 1; // Allow inputs to take available space
    border-radius: 4px;
    border: 1px solid var(--color-primary); // Used CSS variable
    background-color: var(--color-secondary-bg); // Used CSS variable
    color: white;
  }

  .submit-button {
    background-color: var(--color-primary); // Used CSS variable
    color: white;
  }

  .secondary-button {
    background-color: white;
    color: black;
  }
}