@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel:wght@400;600&&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary-bg: #15171E;
  --color-primary-bg-transparency: #15171ec9;
  --color-secondary-bg: #1c1e26;
  --color-secondary-bg-transparency: #1c1e26b4;
  --color-primary: #0074e0;
  --color-primary-light: #69a9e4;
  --color-red-action: #7B2917;
  --color-red-action-hover: #A83A1E;
  --nav-color-primary: #2b2934f2;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: var(--color-primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] {
  width: 35px;
  border-radius: none;
}

input[type="date"] {
  height: 30px;
  font-family: 'Cinzel', serif;
  background-color: #15171E;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Cinzel', serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: 600;
}

button,
.button {
  padding: 0;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  border: solid 2px transparent;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
.button:hover {
  border: solid 2px;
  border-color: var(--color-primary-light);
}

button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (max-width: 1100px) {
  input[type="date"] {
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}


::-webkit-scrollbar {
  width: 6px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: linear-gradient(168deg, rgb(72, 72, 72) 20%, var(--color-primary-bg) 120%);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(168deg, rgb(41, 23, 23) 20%, var(--nav-color-primary) 120%);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(168deg, var(--color-red-action) 20%, var(--color-red-action-hover) 120%);
}

.loader {
  width: 100%;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 8px;
  background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
  animation: l2 2s linear infinite;
}

.loader:before {
  content:"Cargando..."
}

@keyframes l2 {to{background-size: 100% 3px}}

@media (prefers-color-scheme: light) {

}