@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel:wght@400;600&&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary-bg: #0b1824;
  --color-secundary-bg: #1c1e26;
  --color-primary: #0074e0;
  --color-primary-light: #69a9e4;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to top, var(--color-primary-bg), var(--color-secundary-bg));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

button,
.button {
  padding: 0;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  border: solid 2px transparent;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
.button:hover {
  border: solid 2px;
  border-color: var(--color-primary-light);
}

button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
