.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(192, 192, 192);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.w-100 {
  width: 100%;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
}

.g-1 {
  gap: 1rem;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-between-divider {
  text-wrap: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

#user-menu-container {
  display: none;
}

.register-message-container {
  width: 350px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.action-button {
  background-color: var(--color-red-action);
}

.action-button:hover {
  background-color: var(--color-red-action-hover);
}

.header-container {
  background-color: #111111;
  width: 100vw;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px rgba(255,255,255,.15);
}

.header-bg {
  height: 600px;
  width: 100%;
  max-width: 2500px;
  background-image: url(../assets/png/header.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  color: antiquewhite;
  text-shadow: 0 0 8px black;
}

.section-title {
  margin-top: 10rem;
  width: 100%;
  text-align: left;
  padding-left: 1.3rem;
}

.red-shadow-fx {
  background-image: url(../assets/png/red-shadow-fx.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw;
}
