@font-face {
  font-family: 'Diablo';
  src: url('../assets/fonts/diablo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, .15);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo-styles {
  margin: 0;
  padding: 0;
  font-family: Diablo;
  color: rgb(227, 210, 168);
  filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.245));
  transform: scale(1, 1.5);
  display: inline-block;
  height: 100%;
}

.canvas-logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.mw-800 {
  max-width: 800px;
}

.mw-1080 {
  max-width: 1080px;
}

.mw-1250 {
  max-width: 1250px;
}

.mw-2500 {
  max-width: 2500px;
}

.d-flex {
  display: flex;
}

.g-1 {
  gap: 1rem;
}

.border-right {
  border-right: solid 1px #99938a;
}

.border-top {
  border-top: solid 1px #99938a;
}

.border-top-left-radius {
  border-top-left-radius: 8px;
}

.border-top-right-radius {
  border-top-right-radius: 8px;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 8px;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 8px;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-between-divider {
  text-wrap: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

#user-menu-container {
  display: none;
}

.register-message-container {
  width: 350px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  background-color: #111111;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px rgba(255, 255, 255, .15);
}

.header-bg {
  width: 100%;
  max-width: 2500px;
  background-image: url(../assets/png/header.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  color: antiquewhite;
  justify-content: center;
  text-shadow: 0 0 8px black;
}

.red-shadow-fx {
  background-image: url(../assets/png/red-shadow-fx.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 100vw;
}

.f-size-large {
  font-size: 60px;
}

@media (max-width: 1100px) {
  .title-container {
    text-align: center;
    display: flex;
  }
}

@media (max-width: 900px) {

  .header-container,
  .header-bg {
    height: 300px;
    background-size: cover;
  }
}

.divider-top {
  height: 50px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  filter: drop-shadow(0px 15px 42px #000000);
  background-image: url(../assets/jpeg/divider-top.jpg);
}

.divider-bottom {
  height: 20px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  filter: drop-shadow(0px 15px 42px #000000);
  background-image: url(../assets/jpeg/divider-bottom.jpg);
}

.text-align-start {
  text-align: start;
}

.featured-text {
  color: rgb(227, 210, 168);
  filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.245));
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.bg {
  background-color: aqua;
}

.g-small {
  gap: .3rem
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 1100px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}