.canvas-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  .selector-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}