.inner-container {
  display: flex;
}

.filter-container {
  width: 100%;
  max-width: 350px;
}

.crest-img-container {
  width: 100%;
  height: 100%;
}

.form-container {
  text-align: start;

  li {
    span {
      display: flex;
      justify-content: space-between;
    }
  }
}

.crest-form {
  padding: .5rem;
  border-radius: .4rem;

  span {
    display: flex;
    align-items: center;
  }
}

.rare {
  background-color: rgba(0, 255, 255, 0.079);
}

.legendary {
  background-color: rgba(231, 91, 26, 0.131);
}

.eternal-legendary {
  background-color: rgba(103, 85, 133, 0.178);
}