.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  height: 45px;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  background-color: transparent;
  border: none;

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.13);
    border: none;
    outline: none;
  }

  p {
    font-weight: bolder;
    font-size: 18px;
  }

  img {
    opacity: .5;
  }
}
