.nav-container {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.1rem;
}

@media (max-width: 1080px) {
  .nav-container {
    padding-top: 0;
  }
}