.nav-container {
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

@media (max-width: 1100px) {
  .nav-container {
    padding-top: 0;
  }
}

@media (min-width: 1100px) {
  .account-mobile, 
  .menu-mobile {
    display: none;
  }
}