.table-container {
  gap: .1rem;
  display: flex;
  flex-direction: column;

  nav {
    display: grid;
    background-color: var(--color-secondary-bg);
    justify-content: space-between;
    border-radius: 8px;
    font-weight: bolder;
    font-size: smaller;

    li {
      padding: .3rem;

      &:hover {
        background: none;
      }
    }
  }
}
