.icon-button {
  padding: .5rem;
  border-radius: .3rem;
  transition-duration: .4s;
  cursor: pointer;

  &:hover {
    color: rgb(227, 210, 168);
    filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.245));
  }
}
