.icon-button {
  padding: .5rem;
  border-radius: .3rem;
  transition-duration: .4s;
  cursor: pointer;

  &:hover {
    color: rgb(227, 210, 168);
    filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.245));
  }
}

.battle-section {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 8px;
}

.match-summary-section {
  margin-top: 1rem;
  padding: 0.8rem;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: var(--element-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    color: #e0e0e0;
    margin: 0;
  }

  p {
    color: #b0b0b0;
    margin: 0;
  }
}

.result-section {
  display: flex;
  align-items: center;
  gap: 1rem;

  select {
    border-radius: 0.3rem;
    background-color: var(--element-color-primary);
    color: var(--text-color-primary);
    border: 1px solid var(--border-color-primary);
  }
}